<footer>
    <svg class="cut-triangle" preserveAspectRatio="none" viewBox="0 0 1440 192" xmlns="http://www.w3.org/2000/svg">
        <path d="M837 138.335C1243.5 86.5938 1440 0 1440 0V192H0C0 192 430.5 190.077 837 138.335Z"></path>
    </svg>
    <div class="footer-content">
        <div class="container">
            <div class="space-btw">
                <p>
                    <i class="fa fa-map-marker"></i>
                    Nova petrópolis - São Bernardo do Campo, SP
                </p>
                <p>
                    <i class="fa fa-envelope-o"></i>
                    <a href="mailto:falecom@viragstudio.com.br">
                        falecom@viragstudio.com.br
                    </a>
                </p>
                <div class="social-footer space-btw">
                    <a href="http://" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="http://" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                    <a href="http://" target="_blank">
                        <i class="fa fa-behance-square"></i>
                    </a>
                    <a href="http://" target="_blank">
                        <i class="fa fa fa-linkedin-square"></i>
                    </a>
                    <a href="http://" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/main.js"></script>
</footer>