<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste odit libero neque cupiditate ab dolore voluptatibus iure provident minima harum porro, tempora id perspiciatis assumenda eum sequi, expedita aut. Id. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos a eius sequi, illum sed esse voluptatum doloribus, ullam aut dolorum quia! Rerum laborum, sunt voluptatibus voluptate vel dolorem voluptatum veniam!</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>