{{> nav}}
<section class="common-topo container">
    <h1>
         Gestão e planejamento da <strong>identidade visual</strong> da sua marca!
    </h1>
</section>
<figure class="right-figure">
    <img src="../img/mockup.jpg"
        alt="">
</figure>
<section class="section-pd container">
    <div class="service-column">
        <div>
            <h3>Construção da marca</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sunt sequi error in, nemo distinctio iste natus modi blanditiis molestias fugit recusandae magni asperiores ducimus veritatis unde quam cum qui.</p>
        </div>
        <div>
            <h3>Estratégia de posicionamento</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sunt sequi error in, nemo distinctio iste natus modi blanditiis molestias fugit recusandae magni asperiores ducimus veritatis unde quam cum qui.</p>
        </div>
        <div>
            <h3>Rebranding</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sunt sequi error in, nemo distinctio iste natus modi blanditiis molestias fugit recusandae magni asperiores ducimus veritatis unde quam cum qui.</p>
        </div>
    </div>
</section>
<section class="section-pd line-top container">
    <h2>Reconhecimento no mercado</h2>
    <p class="subtitle">
    <div class="d-flex">
        <figure class="service-img-text">
            <img src="../img/branding.png"
                alt="conquista do sucesso">
        </figure>
        <p class="service-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor nisi, convallis a dapibus et, rhoncus nec metus. Nulla interdum luctus dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas fringilla semper risus in finibus.
            <br><br>
            Vestibulum quis ipsum a augue mattis convallis a hendrerit ex. Vestibulum pellentesque sodales consequat. Nullam justo lacus, lacinia ut odio id, rhoncus faucibus sem. Curabitur porttitor facilisis vulputate. Aliquam id ex vitae erat cursus sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra venenatis tincidunt.
        </p>
    </div>
</section>
<div class="no-cut">
    {{> linksServicos}}
    {{> footer}}
</div>
