<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Contact</h1>
    <form action="">
        <label for="">
            Name:
        </label>
        <input type="text">
        <textarea name="" id="" cols="30" rows="10"></textarea>
    </form>
    <%- include('./partials/footer.ejs') %>
</body>
</html>