<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="orcamento container">
        <h1>Seu sucesso está mais próximo do que você imagina</h1>
        <p class="typewrite">Olá, tudo bem?</p>
        <p class="typewrite">
            Eu sou a inteligência virtual da ViragStudio e vou te guiar nas próximas etapas!
        </p>
        <p class="typewrite">
            Desde já, fique sabendo que você prestes a começar uma nova jornada de sucesso!
        </p>
        <p class="typewrite mt-30">Primeiro, vamos coletar algumas informações, ok?</p>
    </section>
    <div class="orcamento-footer">
        <%- include('./partials/footer.ejs') %>
    </div>
    <script src="js/orcamento.js"></script>
</body>
</html>