<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <section class="common-topo">
        <div class="container">
            <h1>
                Nossos <strong>trabalhos</strong>
            </h1>
        </div>
    </section>
    <section class="portfolio">
        <div class="container">
            <div class="portfolio-content">
                <a href="">
                    <div class="img-portf"></div>
                    <span>Lorem</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Ipsum</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Dolor</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Sit</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Amet</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Consectetur</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Adipisicing</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Elit</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Vero</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Quo</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Ducimus</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Enim</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Quibusdam</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Repellat</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Unde</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Non</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Totam</span>
                </a>
                <a href="">
                    <div class="img-portf"></div>
                    <span>Aperiam</span>
                </a>
            </div>
        </div>
    </section>
    <%- include('./partials/footer.ejs') %>
</body>
</html>