{{> nav}}
<section class="dark-topo">
    <div class="container">
        <h1>
            Projetando ideias para a <strong>sua necessidade</strong>
        </h1>
    </div>
</section>
{{> linksServicos}}
<section class="result section-pd container">
    <h2>
        Entregando <strong>resultados</strong> para nossos clientes
    </h2>
    <div class="d-flex">
        <div class="result-item">
            <div class="line-dot space-btw"></div>
            <h4>Descobrir</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas eligendi ullam veniam repudiandae. Doloribus ex doloremque veritatis quas, corporis explicabo alias unde aliquam illum, ipsum, laborum natus libero numquam.</p>
        </div>
        <div class="result-item">
            <div class="line-dot space-btw"></div>
            <h4>Projetar</h4>
            <p>Rerum quas eligendi ullam veniam repudiandae. Doloribus ex doloremque veritatis quas, corporis explicabo alias unde aliquam illum, ipsum, laborum natus libero numquam.</p>
        </div>
        <div class="result-item">
            <div class="line-dot space-btw last-dot"></div>
            <h4>Construir</h4>
            <p>Doloribus ex doloremque veritatis quas, corporis explicabo alias unde aliquam illum, ipsum, laborum natus libero numqua. Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quas eligendi ullam veniam repudiandaem.</p>
        </div>
    </div>
</section>
<section class="technologies container section-pd space-btw">
    <figure>
        <img src="../img/angular.png"
            alt="">
    </figure>
    <figure>
        <img src="../img/node.png"
            alt="">
    </figure>
    <figure>
        <img src="../img/mysql.png"
            alt="">
    </figure>
    <figure>
        <img src="../img/github.png"
            alt="">
    </figure>
    <figure>
        <img src="../img/figma.png"
            alt="">
    </figure>
</section>
{{> footer}}