{{> nav parameter=headerWhite}}
<section class="dark-topo">
    <div class="container">
        <h1>
            Projetando ideias para a <strong>sua necessidade</strong>
        </h1>
    </div>
</section>
<section class="services">
    <a href="#" class="item-service border-btn">
        <div class="container space-btw">
            <div>
                <h3>Branding</h3>
                <p>Projete a história da sua marca</p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
    <a href="#" class="item-service border-btn">
        <div class="container space-btw">
            <div>
                <h3>WebDevelop</h3>
                <p>Visibilidade online com design personalizado</p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
    <a href="#" class="item-service border-btn">
        <div class="container space-btw">
            <div>
                <h3>Sistemas Web</h3>
                <p>Interfaces funcionais que entregam valor</p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
    <a href="#" class="item-service">
        <div class="container space-btw">
            <div>
                <h3>Digital Strategy</h3>
                <p>Encontre a direção ideal para a sua jornada</p>
            </div>
            <i class="fa fa-chevron-right"></i>
        </div>
    </a>
    <svg class="cut-triangle" preserveAspectRatio="none" viewBox="0 0 1440 192" xmlns="http://www.w3.org/2000/svg">
        <path d="M837 138.335C1243.5 86.5938 1440 0 1440 0V192H0C0 192 430.5 190.077 837 138.335Z"></path>
    </svg>
</section>
<section class="section-pd">
    <div class="container">
        <div class="space-btw">
            <div class="faq-title">
                <h2>Principais <strong>benefícios</strong></h2>
            </div>
            <div class="faq-content">
                <ul>
                    <li>
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <g data-name="Layer 28" id="Layer_28">
                                <path class="cls-2" d="M16,31A15,15,0,1,1,31,16,15,15,0,0,1,16,31ZM16,3A13,13,0,1,0,29,16,13,13,0,0,0,16,3Z" />
                                <path class="cls-2" d="M13.67,22a1,1,0,0,1-.73-.32l-4.67-5a1,1,0,0,1,1.46-1.36l3.94,4.21,8.6-9.21a1,1,0,1,1,1.46,1.36l-9.33,10A1,1,0,0,1,13.67,22Z" />
                            </g>
                        </svg>
                        <p><strong>Lorem, ipsum dolor sit amet</strong> consectetur adipisicing elit. Animi quis minima, illo minus a, saepe libero exercitationem, aspernatur cupiditate soluta eaque eligendi eveniet praesentium inventore assumenda nemo magni est. Magnam!</p>
                    </li>
                    <li>
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <g data-name="Layer 28" id="Layer_28">
                                <path class="cls-2" d="M16,31A15,15,0,1,1,31,16,15,15,0,0,1,16,31ZM16,3A13,13,0,1,0,29,16,13,13,0,0,0,16,3Z" />
                                <path class="cls-2" d="M13.67,22a1,1,0,0,1-.73-.32l-4.67-5a1,1,0,0,1,1.46-1.36l3.94,4.21,8.6-9.21a1,1,0,1,1,1.46,1.36l-9.33,10A1,1,0,0,1,13.67,22Z" />
                            </g>
                        </svg>
                        <p><strong>Lorem, ipsum dolor sit amet</strong> consectetur adipisicing elit. Animi quis minima, illo minus a, saepe libero exercitationem, aspernatur cupiditate soluta eaque eligendi eveniet praesentium inventore assumenda nemo magni est. Magnam!</p>
                    </li>
                    <li>
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <g data-name="Layer 28" id="Layer_28">
                                <path class="cls-2" d="M16,31A15,15,0,1,1,31,16,15,15,0,0,1,16,31ZM16,3A13,13,0,1,0,29,16,13,13,0,0,0,16,3Z" />
                                <path class="cls-2" d="M13.67,22a1,1,0,0,1-.73-.32l-4.67-5a1,1,0,0,1,1.46-1.36l3.94,4.21,8.6-9.21a1,1,0,1,1,1.46,1.36l-9.33,10A1,1,0,0,1,13.67,22Z" />
                            </g>
                        </svg>
                        <p><strong>Lorem, ipsum dolor sit amet</strong> consectetur adipisicing elit. Animi quis minima, illo minus a, saepe libero exercitationem, aspernatur cupiditate soluta eaque eligendi eveniet praesentium inventore assumenda nemo magni est. Magnam!</p>
                    </li>
                    <li>
                        <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <g data-name="Layer 28" id="Layer_28">
                                <path class="cls-2" d="M16,31A15,15,0,1,1,31,16,15,15,0,0,1,16,31ZM16,3A13,13,0,1,0,29,16,13,13,0,0,0,16,3Z" />
                                <path class="cls-2" d="M13.67,22a1,1,0,0,1-.73-.32l-4.67-5a1,1,0,0,1,1.46-1.36l3.94,4.21,8.6-9.21a1,1,0,1,1,1.46,1.36l-9.33,10A1,1,0,0,1,13.67,22Z" />
                            </g>
                        </svg>
                        <p><strong>Lorem, ipsum dolor sit amet</strong> consectetur adipisicing elit. Animi quis minima, illo minus a, saepe libero exercitationem, aspernatur cupiditate soluta eaque eligendi eveniet praesentium inventore assumenda nemo magni est. Magnam!</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{{> footer}}