{{> nav}}
<section class="service-topo space-btw">
    <div class="service-title-content">
        <div>
            <h1>Funcional e com todo o foco <strong>nos requisitos</strong></h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, facilis optio obcaecati distinctio vel nobis. Maiores ipsum consequuntur nulla. Delectus</p>
        </div>
    </div>
    <figure>
        <img src="../img/sistemas.jpg"
            alt="">
    </figure>
</section>
<section class="section-pd container">
    <div class="service-column">
        <div>
            <h3>Personalizado para você</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus est quam, euismod sit amet ultricies eu, accumsan at sem. Mauris fringilla risus vel tincidunt malesuada. Phasellus nibh elit, rhoncus sit amet massa sit amet, pharetra interdum diam. Ut sagittis diam magna, vitae egestas ipsum finibus at. Suspendisse cursus nunc sed metus mattis pretium. Fusce blandit sodales congue.</p>
            <p>Morbi interdum efficitur est, mollis gravida libero placerat id. Quisque aliquet hendrerit maximus. Sed egestas maximus mauris vel molestie. Nullam vestibulum augue lectus, nec ullamcorper metus semper non. Quisque quis lacus at ligula fringilla tempus.</p>
        </div>
        <div>
            <h3>Escopo espansível</h3>
            <p>Vivamus viverra lobortis libero, id placerat nulla ultrices quis. In vitae ultrices ligula, sed facilisis metus. Aliquam volutpat sit amet enim id posuere. Pellentesque euismod consequat elementum. Nunc pulvinar sapien in libero finibus tristique. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec vel justo mollis, aliquam ante eget, ornare elit. Nullam dolor felis, pretium in tellus a, mattis consequat libero.</p>
            <p>Vivamus tempor pellentesque arcu, nec porta massa porta pulvinar. Suspendisse tempor ultrices arcu, ut ultrices ante aliquet et. Praesent pharetra viverra nisl, vel dapibus justo blandit sit amet. Integer mollis, dui eu mattis sagittis, mi mauris molestie ante, eu rutrum quam dolor sit amet nunc. Integer sagittis molestie sapien, id porta turpis sagittis at.</p>
        </div>
    </div>
</section>
<div class="no-cut">
    {{> linksServicos}}
    {{> footer}}
</div>