{{> nav parameter=headerWhite}}
<section class="common-topo container">
    <h1>
        Moldando soluções em <strong>design e usabilidade</strong>
    </h1>
</section>
<section class="container">
    <div class="space-btw">
        <div class="mission-content ">
            <div class="mission">
                “Nossa missão é conectar pessoas com as melhores experiências em design e usabilidade, nutrindo crescimento mutuo com parcerias sólidas”
                <span>Richard Virag, CEO</span>
            </div>
        </div>
        <div class="about">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque Expedita asperiores odit id officiis totam laborum soluta neque nulla veritatis harum! Odit explicabo ad minus. Expedita asperiores odit id officiis totam perspiciatis dolorum, facere deleniti.
            </p>
            <h4>Cumque laborum soluta</h4>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos cumque laborum soluta neque nulla veritatis harum! Odit explicabo ad minus. Expedita asperiores odit id officiis totam perspiciatis dolorum, facere deleniti. Dignissimos cumque laborum soluta neque nulla veritatis harum! Odit explicabo ad minus. Expedita asperiores odit id officiis totam veritatis harum odit.
            </p>
        </div>
    </div>
</section>
<img src="img/about-bg.jpg"
    alt="Desenho de solução"
    class="about-bg">
<section class="section-pd">
    <div class="container">
        <div class="about-advantages">
            <h2>Por que <strong class="destaque">ViragStudio</strong>?</h2>
            <p class="subtitle">
                A decisão certa para trabalhar com uma equipe referência no que faz todos os dias
            </p>
            <div class="about-advantages-itens">
                <div class="about-advantages-item">
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g data-name="16-heart" id="_16-heart">
                            <path class="cls-1" d="M28.43,4.63A8.66,8.66,0,0,0,16,4.63a8.66,8.66,0,0,0-12.43,0,9.1,9.1,0,0,0,0,12.69L16,30,28.43,17.31A9.1,9.1,0,0,0,28.43,4.63Z"/>
                            <path class="cls-1" d="M26,11a4,4,0,0,0-4-4"/>
                        </g>
                    </svg>
                    <div>
                        <h4>Nós amamos o que fazemos</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique vero doloribus porro earum quod eius, necessitatibus ex nulla repudiandae molestias maxime cupiditate assumenda accusantium laborum ullam dolore iste. Eum, veniam!</p>
                    </div>
                </div>
                <div class="about-advantages-item">
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g data-name="79-users">
                            <circle class="cls-1" cx="16" cy="13" r="5"/>
                            <path class="cls-1" d="M23,28A7,7,0,0,0,9,28Z"/>
                            <path class="cls-1" d="M24,14a5,5,0,1,0-4-8"/>
                            <path class="cls-1" d="M25,24h6a7,7,0,0,0-7-7"/>
                            <path class="cls-1" d="M12,6a5,5,0,1,0-4,8"/>
                            <path class="cls-1" d="M8,17a7,7,0,0,0-7,7H7"/>
                        </g>
                    </svg>
                    <div>
                        <h4>Nós somos user-first</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis dignissimos vitae sed eligendi alias commodi, voluptates illo, impedit delectus quam ipsa dolorum fugiat nemo numquam pariatur ut ipsam! Quasi, enim!</p>
                    </div>
                </div>
                <div class="about-advantages-item">
                    <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                        <g data-name="24-Target">
                            <path class="cls-1" d="M28,31H4V7l6-6H28Z"/>
                            <polygon class="cls-1" points="10 1 4 7 10 7 10 1"/>
                            <circle class="cls-1" cx="16" cy="15" r="6"/>
                            <line class="cls-1" x1="16" x2="16" y1="12" y2="6"/>
                            <line class="cls-1" x1="16" x2="16" y1="24" y2="18"/>
                            <line class="cls-1" x1="19" x2="25" y1="15" y2="15"/>
                            <line class="cls-1" x1="7" x2="13" y1="15" y2="15"/>
                            <line class="cls-1" x1="8" x2="24" y1="27" y2="27"/>
                        </g>
                    </svg>
                    <div>
                        <h4>Nós entregamos resultados</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus error in totam aperiam quos laboriosam earum fugit. Cumque, accusamus reprehenderit voluptatem, aut non optio architecto eveniet possimus molestiae voluptates omnis!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="line-top section-pd">
            <h2>Trabalhamos juntos <strong class="destaque">para o sucesso</strong></h2>
            <p class="subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit Similique numquam aspernatur
            </p>
            <div class="success-content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor nisi, convallis a dapibus et, rhoncus nec metus. Nulla interdum luctus dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas fringilla semper risus in finibus.
                    <br><br>
                    Vestibulum quis ipsum a augue mattis convallis a hendrerit ex. Vestibulum pellentesque sodales consequat. Nullam justo lacus, lacinia ut odio id, rhoncus faucibus sem. Curabitur porttitor facilisis vulputate. Aliquam id ex vitae erat cursus sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra venenatis tincidunt.
                </p>
                <div class="success">
                    <img src="img/success.jpg"
                        alt="conquista do sucesso">
                </div>
            </div>
        </div>
    </div>
</section>
{{> footer}}