{{> nav}}
<section class="common-topo container">
    <h1>
        Páginas <strong>incríveis</strong>, focadas no seu propósito
    </h1>
</section>
<figure class="right-figure">
    <img src="../img/web.jpg"
        alt="">
</figure>
<section class="section-pd container">
    <div class="service-column">
        <div>
            <h3>100% personalizado</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sunt sequi error in, nemo distinctio iste natus modi blanditiis molestias fugit recusandae magni asperiores ducimus veritatis unde quam cum qui.</p>
        </div>
        <div>
            <h3>Conteúdo direto ao ponto</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sunt sequi error in, nemo distinctio iste natus modi blanditiis molestias fugit recusandae magni asperiores ducimus veritatis unde quam cum qui.</p>
        </div>
        <div>
            <h3>Tecnologia de ponta</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sunt sequi error in, nemo distinctio iste natus modi blanditiis molestias fugit recusandae magni asperiores ducimus veritatis unde quam cum qui.</p>
        </div>
        <div>
            <h3>Otimizado para o Google</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam sunt sequi error in, nemo distinctio iste natus modi blanditiis molestias fugit recusandae magni asperiores ducimus veritatis unde quam cum qui.</p>
        </div>
    </div>
</section>
<section class="section-pd line-top container">
    <h2>A melhor solução em Design</h2>
    <p class="subtitle">
    <div class="d-flex">
        <figure class="service-img-text">
            <img src="../img/layout.jpg"
                alt="conquista do sucesso">
        </figure>
        <p class="service-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tortor nisi, convallis a dapibus et, rhoncus nec metus. Nulla interdum luctus dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas fringilla semper risus in finibus.
            <br><br>
            Vestibulum quis ipsum a augue mattis convallis a hendrerit ex. Vestibulum pellentesque sodales consequat. Nullam justo lacus, lacinia ut odio id, rhoncus faucibus sem. Curabitur porttitor facilisis vulputate. Aliquam id ex vitae erat cursus sagittis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra venenatis tincidunt.
        </p>
    </div>
</section>
<div class="no-cut">
    {{> linksServicos}}
    {{> footer}}
</div>
